.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 2rem auto 5rem
}

/* .container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
} */
  
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}