.toolBar {
    display: flex;
    justify-content: space-evenly;
    /* overflow-x: auto; */
    /* padding: 0; */
    margin: -6px 
}

.barIcons {
    display: flex;
    flex-direction: row;
    /* overflow-x: auto; */
}