.customProfileMenu {
    position: relative;
  }
  
  /************ Dropdown content: ********************/
  
  .dropdownContent {
    display: none;
    position: absolute;
    background: #ffffff;
    position: absolute;
    border: 1px solid #F1F4F6;
    box-shadow: 0 1px 50px rgba(50, 50, 93, 0.07);
    height: 110px;
    width: 148px;
    border-radius: 5px;
    top: 35px;
    /* right: 0;
    bottom: 0; */
    left: -30px;
    padding-top: 10px 
  }
  
  .dropdownElement {
    height: 30px;
    width: 148px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 4px 0px 0px 49px;
    color: #0F2137
  }

  .dropdownElement:hover {
    text-decoration: none;
  }
  
  .dropdownContent {
    display: flex;
    flex-direction: column;
  }
  
  .linkContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .linkContainer:hover {
    background-color: #ebebeb8f;
    /* color: #FFFFFF; */
  } 

  /****** Link element styles only for Logout element in case you need it ******/
  .linkElement {
    height: 0;
    width: 148px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0px 0px 0px 1em;
    color: #0F2137
  }

  .linkElement:hover {
    text-decoration: none;
  }

  /********************************/
  
  /*****************************************/
  
  /***********Download icon: ********************/
  
  .downloadIcon {
    color: #0F2137;
    position: absolute;
    margin-left: 18px;
    margin-top: 16px;
    width: 13px;
    height: 4px;
    border-radius: 1px;
    border: solid 1px currentColor;
    border-top: none;
  }
  
  .downloadIcon:before {
    content: '';
    position: absolute;
    left: 6px;
    top: -9px;
    width: 1px;
    height: 10px;
    background-color: currentColor;
  }
  
  .downloadIcon:after {
    content: '';
    position: absolute;
    left: 4px;
    top: -4px;
    width: 4px;
    height: 4px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  
  /*************************************/
  
  /*************Print Icon: ******************/
  
  .printIcon {
    color: #0F2137;
    position: absolute;
    margin-left: 17px;
    margin-top: 8px;
    width: 15px;
    height: 6px;
    border-radius: 1px 1px 0 0;
    border: solid 1px currentColor;
    background-color: currentColor;
  }
  
  .printIcon:before {
    content: '';
    position: absolute;
    left: 2px;
    top: -3px;
    height: 13px;
    width: 9px;
    border: solid 1px currentColor;
    background-color: transparent;
  }
  
  .printIcon:after {
    content: '';
    position: absolute;
    left: 1px;
    top: -1px;
    width: 13px;
    height: 3px;
    border-top: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    background-color: currentColor;
  }

  
  /**********************************/
  
  /*************Trash Icon ************************/
  
  .trashIcon {
    color: #EB5757;
    position: absolute;
    margin-left: 21px;
    margin-top: 11px;
    width: 9px;
    height: 10px;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    border-radius: 0 0 2px 2px;
  }
  
  .trashIcon:before {
    content: '';
    position: absolute;
    left: -3.5px;
    top: -2px;
    width: 15px;
    height: 1px;
    background-color: currentColor;
  }
  
  .trashIcon:after {
    content: '';
    position: absolute;
    left: -0.5px;
    top: -5px;
    width: 7px;
    height: 2px;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-top: solid 1px currentColor;
    border-radius: 4px 4px 0 0;
  }
  
  
  
  /**************************************/