.linkElement {
    height: 30px;
    width: 148px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 4px 1px 0 1em;
    color: #0F2137
  }

  .linkElement:hover {
    text-decoration: none;
  }