.moreIconContainer {
    position: absolute;
    margin-top: 5px
  }

 
.threeDotsContainer {
    position: absolute;
    margin: 11px 0 0 15px
  }
  
.square {
    border: 1px solid rgba(0, 0, 0, 0.466);
    height: 34px;
    width: 34px;
    border-radius: 5px;
  }
  
.moreIcon {
    transform: scale(var(--moreIcons,1))
  }
.moreIcon,
.moreIcon::after,
.moreIcon::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 3px;
    height: 3px;
    background: currentColor;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.466);
  }
.moreIcon::after,
.moreIcon::before {
    content: "";
    position: absolute
  }
.moreIcon::after {
    left: 0;
    top: 6px
  }
.moreIcon::before {
    top: -6px;
    right: 0
  }