/* // Remy function
@function remy($value) {
  @return ($value / 16px) * 1rem;
} */

/* body {
  font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif;
  background: #e9e9e9;
} */

/* a,
[type="submit"] {
    transition: all .25s ease-in;
} */

.signupContainer {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 480px;
  border-radius: 3px;
  box-shadow: 0px 3px 7px rgba(0,0,0,.25);
}

.signupOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.76);
}

.containerChild {
  width: 50%;
  height: 100%;
  color: #fff;
}

.signupThumbnail {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url('http://ultraimg.com/images/spectre-login.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.thumbnailLogo,
.thumbnailContent,
.thumbnailLinks {
  position: relative;
  z-index: 2;  
}

.thumbnailLogo {
    align-self: flex-start;
}

.logoShape {
    fill: #fff;
}

.logoText {
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  vertical-align: bottom;
}

.thumbnailContent {
    align-self: center;
}

.headingPrimary {
    font-size: 1.999rem;
    font-weight: 300;
    color: rgba(255,255,255,1);
}

.headingSecondary {
    font-size: 1.414rem;
    font-weight: 300;
    color: rgba(255,255,255,1);
}

.thumbnailLinks {
  align-self: flex-end;
  width: 100%;
}

.thumbnailLinks a {
  font-size: 1rem;
  color: #fff;
  /* &:focus,
  &:hover {color: rgba(255,255,255,.5);} */
}

.signupForm {
  padding: 2.5rem;
  background: #fafafa;
}

.label {
  font-size: .85rem;
  text-transform: uppercase;
  color: #ccc;
}

.formControl {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  /* &:focus {border-color: #111;} */
}

/* [type="text"] {
    color: #111;
}

[type="password"] {
    color: #111;
} */

.btnForm {
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: 35px;
  /* &:focus,
  &:hover {background: lighten(#111, 13%);} */
}
.signupLink {
  font-size: .8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999;
  /* &:focus,
  &:hover {color: darken(#999, 13%);} */
}

.listInline {
    display: inline-block;
}