.footerSolid {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    /* color: white; */
    text-align: center;
 }

.footerPresenter {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  
}

@media (min-width: 544px) {
    .footerPresenter {
        max-width: 576px;
    }
}
      
@media (min-width: 768px) {
    .footerPresenter {
        max-width: 720px;
    }
}
      
@media (min-width: 992px) {
    .footerPresenter {
        max-width: 940px;
    }
}
      
@media (min-width: 1200px) {
    .footerPresenter {
        max-width: 1140px;
    }
}   

.attribution {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 1rem;
    /* font-weight: 400; */
}