.search {
    position: relative;
    border-radius: 9999px;
    background-color:rgba(0, 0, 0, 0.06);
    margin-right: 2rem;
    margin-left: 3rem;
    width: 15rem;
    /* [theme.breakpoints.up('sm')]: {
        marginLeft: theme.spacing(3),
        width: 'auto',
    } */
}

.search:hover {
    background-color: rgba(0, 0, 0, 0.04)
}

.searchIcon {
    padding: 2px 2px 2px 7px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center
}

/* .inputRoot {
    color: black
} */


.inputInput {
    padding: 1px, 1px, 1px, 0;
    padding-left: 2rem;
    transition: width 1s;
    width: 100%;
    /* [theme.breakpoints.up('md')]: {
        width: '20ch',
    } */
}